In [164]:
#Con la almohadilla hacemos una linea de comentario
#es una línia de codigo que no se ejecuta
#las variables son objetos que almacenan temporalmente
#un valor
x=3
x+2

5

In [165]:
x+3

6

La celda Markdown es para escribir texto unicamente

In [166]:
#Python tiene en cuenta mayus de minus
X=4
x+X

7

In [167]:
#Como asignar un texto a una variable, mediante comillas simples o dobles
dia='Lunes'
dia2="Martes"
print(dia)
print(dia2)

Lunes
Martes

In [168]:
#Como imprimir todas las lineas que quiero, con la funcion print
#funcion codigo que devuelve un resultado
print(x)
print(X)
print(x+3)

3
4
6

In [169]:
#con la coma, la funcion print concatena los parametros con un espacio en blanco
print("hoy es",dia,"ya falta menos para viernes")

hoy es Lunes ya falta menos para viernes

In [170]:
#Como reasignar una variable
#POdemos darle un nuevo valor y me ejecutara a partir de aqui el valor diferente
x=5

In [171]:
print (x)

5

Las listas en python son objetos que almacenan temporalmente varios valores.

In [172]:
#LISTA, tuplas y diccionarios
#esto es como un array
milista=["leche","pescado","pan","nutella",4,15,"cerveza"]
print(milista)

['leche', 'pescado', 'pan', 'nutella', 4, 15, 'cerveza']

In [173]:
#Como acceder a un elemento de la lista mediante su indice, en python los indices empiezan por 0
milista[0]

'leche'

In [174]:
#Una funcion que nos da el número de caracteres de una lista o variable.
#la funcion len
print(len(milista[0]))
print("el numero de elementos de mi lista es",len(milista))

5
el numero de elementos de mi lista es 7

In [175]:
#Como añadir un elemento a una lista, tendremos dos opciones: con la funcion append o insert
#append nos añadirá siempre al final de la lista
#insert nos añadira donde le digamos
milista.append("Sardinas")
milista
#al nomes tenir una linia no cal posar print

['leche', 'pescado', 'pan', 'nutella', 4, 15, 'cerveza', 'Sardinas']

In [176]:
milista.insert(1,"chocolate")
milista

['leche',
 'chocolate',
 'pescado',
 'pan',
 'nutella',
 4,
 15,
 'cerveza',
 'Sardinas']

In [177]:
#para contar con la funcion count
milista.count("chocolate")

1

In [178]:
#Como elimminar un elemento de una lista, 2 opciones: o con remove o con del
#Con remove me elimina simepre el primero que encuentra
#con del puedo elegir cual
milista.remove("chocolate")

In [179]:
del milista[2]
milista

['leche', 'pescado', 'nutella', 4, 15, 'cerveza', 'Sardinas']

#Practica 1: Crearemos una lista llamada semana, que tendra los días de lunes a viernes menos el jueves, despues añadiremos el sábado y el domingo a la lista, y después pondremos el jueves en su lugar correspondiente. Después añadiremos dos veces viernes. Y en una variable almacenaremos cuantos viernes hay en la lista. Despues eliminar los viernes sobrantes para que me quede la semana de lunes a domingo. Y despues con un texto ver el número de viernes que tiene la variable (el numero de viernes que habia eran tantos)

In [180]:
milistasemana=["lunes","martes","miercoles","viernes"]
print(milistasemana)
milistasemana.append("sabado")
print(milistasemana)
milistasemana.append("domingo")
print(milistasemana)
milistasemana.insert(3,"jueves")
print(milistasemana)
milistasemana.append("viernes")
milistasemana.append("viernes")
print(milistasemana)
numero_viernes = milistasemana.count("viernes")
print(milistasemana)
del milistasemana[7:]
print(milistasemana)
print("El numero de viernes que habia eran",numero_viernes)

['lunes', 'martes', 'miercoles', 'viernes']
['lunes', 'martes', 'miercoles', 'viernes', 'sabado']
['lunes', 'martes', 'miercoles', 'viernes', 'sabado', 'domingo']
['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo']
['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo', 'viernes', 'viernes']
['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo', 'viernes', 'viernes']
['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo']
El numero de viernes que habia eran 3

In [181]:
#las listas numericas
numeros = [0,1,2,3,4]
print(numeros)

[0, 1, 2, 3, 4]

In [182]:
#una funcion para generar numeros, se llama range, 
#con 5 elementos empieza por 0 y termina en 4, porque se incrementa de 1 en 1, 
#con la funcion veo los valores de la lista
numeros2 = range(5)
list (numeros2)

[0, 1, 2, 3, 4]

In [183]:
#en range podemos tener el valor inicial, el valor final menos 1, el step el salto
#empezamos con el 16, y hacemos saltos de dos en dos (step, que es el tercer numero)
numeros3 = range(16,32,2)
list(numeros3)

[16, 18, 20, 22, 24, 26, 28, 30]

In [184]:
#en este caso lo hacemos como un decremento
numeros4 = range (32, 16,-2)
list(numeros4)

[32, 30, 28, 26, 24, 22, 20, 18]

In [185]:
#Funciones de resumen sobre una lista numerica
sum(numeros4)       #con sum sumamos los valores de dentro de la lista
max(numeros4)       #con max me da el numero mas grande
min(numeros4)       #este me va a dar el valor mas pequeño

18

Los bucles en python
¿Que es un bucle?
Es un codigo que se repite hasta que se cumple una condición dada. Tenemos dos tipos de bucles: los finitos y los infinitos.
Los finitos son aquellos que van a terminar si o si, porque sabemos de antemano el numero de veces que se ejecutaran. El bucle FOR, cada vez que se repite un bucle, se denomina iteracion. El bucle for lleva asociada una variable.

Los bucles infinitos puede que terminen o puede que no. Depende si se cumple la condicion o no, el bucle WHILE. Este bucle while no tiene asociada ninguna variable.

In [186]:
#primero poner la palabra clave FOR, despues el nombre de la variable que queremos asociar al bucle. Cuando son numero suele ser i
for i in["Lunes", "Martes", "Miercoles"]:
    print (i)
print("Terminado")     #para terminar le bucle el print final tiene que estar alineado con la frase inicial

Lunes
Martes
Miercoles
Terminado

In [187]:
for i in numeros4:
    print(i)

32
30
28
26
24
22
20
18

In [188]:
#vamos a necesitar una variable iter (no)
iter = 0
for dia in milistasemana:
    print("el dia es",dia)
    iter = iter + 1
print("numero de iteraciones",iter)   
#efecto contador 
#cuenta cuantas veces se hace el bucle

el dia es lunes
el dia es martes
el dia es miercoles
el dia es jueves
el dia es viernes
el dia es sabado
el dia es domingo
numero de iteraciones 7

#Practica 2: Mediante un bucle for, recorrer una lista con los meses del año, y se tiene que mostrar con un texto lo siguiente; el 1 mes del año es enero, el 2 mes del años es febrero,...
(variante solo para los mas atrevidos, que me ponga el primer mes del año es enero, el segundo mes del año es febrero)

In [189]:
#creo una lista para aprovecharlo mas adelante
Meses = ["enero","febrero","marzo","abril","mayo","junio","julio","agosto","septiembre","octubre","noviembre","diciembre"]
iter = 1
for mes in Meses:
    print("El",iter, "mes del año es", mes)
    iter = iter + 1

El 1 mes del año es enero
El 2 mes del año es febrero
El 3 mes del año es marzo
El 4 mes del año es abril
El 5 mes del año es mayo
El 6 mes del año es junio
El 7 mes del año es julio
El 8 mes del año es agosto
El 9 mes del año es septiembre
El 10 mes del año es octubre
El 11 mes del año es noviembre
El 12 mes del año es diciembre

In [190]:
for mes in["enero","febrero","marzo","abril","mayo","junio","julio","agosto","septiembre","octubre","noviembre","diciembre"]:
    print("el 1 mes del año", mes)

el 1 mes del año enero
el 1 mes del año febrero
el 1 mes del año marzo
el 1 mes del año abril
el 1 mes del año mayo
el 1 mes del año junio
el 1 mes del año julio
el 1 mes del año agosto
el 1 mes del año septiembre
el 1 mes del año octubre
el 1 mes del año noviembre
el 1 mes del año diciembre

In [191]:
Meses = ["enero","febrero","marzo","abril","mayo","junio","julio","agosto","septiembre","octubre","noviembre","diciembre"]
Cardinal = ["primer","segundo","tercer","cuarto","quinto","sexto", "septimo", "octavo","noveno","decimo","undecimo","duodecimo"]
iter = 1
for mes in Meses:
    print("El", Cardinal [iter-1], "mes del año es", mes)
    iter = iter+1

El primer mes del año es enero
El segundo mes del año es febrero
El tercer mes del año es marzo
El cuarto mes del año es abril
El quinto mes del año es mayo
El sexto mes del año es junio
El septimo mes del año es julio
El octavo mes del año es agosto
El noveno mes del año es septiembre
El decimo mes del año es octubre
El undecimo mes del año es noviembre
El duodecimo mes del año es diciembre

In [192]:
#Con un bucle puedo recorrer los caracters de una palabra
palabra = "Domingo"
for letra in palabra:
    print(letra)

D
o
m
i
n
g
o

In [193]:
#Estructuras de decision if
#Analiza una condición o prueba logica. Si se cumple ejecuta una parte verdadera. Sino se cumple puedo ejecutar una parte falsa.
#Una condicion o prueba logica significa comparar 2 valores mediante un operador de comparacion

> mayor que --> 8>4 True y 8>12 False
< menor que --> 8<12 True y 8<4 False
>= mayor o igual
<= menor o igual
== igual --> 8==8 True y 8==12 False
!= distinto --> 8!=12 True y 8!=8 False

SyntaxError: invalid syntax (2779268373.py, line 5)

In [ ]:
ciudad = "barcelona"
if ciudad == "barcelona":
    #la parte verdadera
    print("Correcto")

In [ ]:
ciudad = "tarragona"
if ciudad == "barcelona":
    #la parte verdadera
    print("Correcto")
else:
    print("No es correcto")

In [ ]:
#Practica3: Aprovechando la lista Meses y mediante un bucle imprimir todos los meses menos junio

#Practica4: Con una lista de numeros igual a 15, 33, 48, 62, 25, 57, 84 y mediante un bucle imprimir solamente los numeros mayores de 40

#Practica5: Aprovechando la lista meses y mediante un bucle imprimir todos los meses cuyo numero de caracteres del nombre del mes sea igual a 5

In [195]:
#Practica3
for mes in Meses:
    if mes!="junio":
        print(mes)

enero
febrero
marzo
abril
mayo
julio
agosto
septiembre
octubre
noviembre
diciembre

In [203]:
#Practica4
Numeros = [15, 33, 48, 62, 25, 57, 84]       #llistat dels numeros donats
for nombre in Numeros:                       #per cada nombre que tenim comprovem cada un d'ells amb els numeros donats previament
    if nombre > 40:
        print(nombre)

48
62
57
84

In [204]:
#Practica5

for mes in Meses:
    if len(mes)==5:
        print(mes)

enero
marzo
abril
junio
julio